{{extend ("./layout2.html")}}

{{#block ("head")}}
<link rel="stylesheet" type="text/css" href="css/allGoods.css">
{{/block}}

{{#block ("body")}}
<!-- nav begin -->
	<nav class="nav">
		<ul class="nav-wrap">
			<li >
				<a href="/">
					<span>首页</span>
				</a>
			</li>
			<li class="active">
				<a href="/allGoods">
					<span>全部商品</span>
				</a>
			</li>
			<li>
				<a href="/user">
					<span>个人中心</span>
				</a>
			</li>
		</ul>
	</nav>
	<!-- nav end -->
<!-- goodList begin -->
	<div class="goodList">
	{{#each(data)~}}
		<div class="good-item">
			<a href="/detail/{{this._id}}">
				<img src="/upload/{{this.filepath}}">
				<div class="good-info">
					<p>{{this.name}}</p>
					<p>{{this.price}}</p>
				</div>
			</a>
		</div>
	{{~/each}}	
	</div>
	<!-- goodList end -->

{{/block}}