<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>
    <link rel="stylesheet" href="/statics/css/site.css">
    <link rel="stylesheet" href="/bowersrc/bootstrap/dist/css/bootstrap.css">
    <script src='/bowersrc/jquery/dist/jquery.js'></script>
    <!-- 可以在子页面中进行扩展 -->
    {{{block ("head")}}}
</head>
<body>
<div >
    <nav class="navbar navbar-inverse" style="height: 50px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #ffffff;">
                    蛋糕街后台管理系统
                </a>
            </div>

        </div>

    </nav>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{{block ("body")}}}
        </div>
    </div>
</div>
</body>
</html>
