{{extend ("./layout.html")}}

{{#block ("head")}}
<script src="../bowersrc/bootstrap/dist/js/bootstrap.min.js"></script>
{{/block}}

{{#block ("body")}}

<div class="panel-default">
    

    <div class="panel-body">
        <div class="row">
            <form method="post">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">名称：</div>
                        <input type="text" class="form-control" name="name" placeholder="请输入蛋糕名称" value="{{ name }}" >
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success" id="query" >查找</button>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <button type="button" class="btn btn-success" onclick="window.location='/admin/add'"> 添加 </button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-bordered .table-condensed">
    <tr>
        <th>编号</th>
        <th>蛋糕名称</th>
        <th>价格</th>
        <th>关键字</th>
        <th>描述</th>
        <th>图片</th>
        <th>操作</th>
    </tr>

    {{#each(data)~}}
    <tr>
        <td>{{ xindex + 1 }}</td>
        <td>{{ this.name }}</td>
        <td>{{ this.price }}</td>
        <td>{{ this.keyword }}</td>
        <td>{{ this.content }}</td>
        <td><img src="../upload/{{ this.filepath }}" style="width:100px;"></td>
        <td>
            <a href="/admin/edit/{{this._id}}" class="btn btn-info btn-sm">编辑</a> |
            <a href="/admin/del/{{ this._id }}" class="btn btn-danger btn-sm">删除</a>
            
        </td>
    </tr>

    {{~/each}}

    
</table>

{{/block}}


