<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
	<header class="header">
		<div class="header-wrap clearfix">
			<a href="javascript:history.go(-1);" class="goBackBtn">&lt;</a>
			<span>注册</span>
		</div>
	</header>
	
	<!-- loginContent begin -->
	<div class="login-cont">
		<form action="" method="post">
			<div class="form-item">
				<div class="form-account">
					<label>账号：</label><input type="text" name="username" placeholder="请输入账号">
				</div>
				<div class="form-password">
					<label>密码：</label><input type="password" name="password" placeholder="请输入密码">
				</div>
				<div class="form-password">
					<label>邮箱：</label><input type="email" name="email" placeholder="请输入邮箱">
				</div>
			</div>
			
			<div class="form-submit">
				<input type="submit" class="submitBtn" value="注 册">	
			</div>
		</form>
		
	</div>
	
	<!-- loginContent end -->

	<!-- footer begin -->
	<footer class="footer">
		<p>时尚·美味·健康</p>
		<p>一条介于平凡与不平凡之间的蛋糕街</p>
	</footer>
	<!-- footer end -->
</body>
</html>
