<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>蛋糕街</title>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/user.css">
	
</head>
<body>
	<!-- header begin -->
	<header class="header">
		<div class="header-wrap clearfix">
			<div class="header-logo fl">
				<a href="#">蛋糕街</a>
			</div>
			<div class="header-toolbar fr">
				<a href="#" class="header-toolbar-btn searchBtn">
					<i class="ico ico-search"></i>
				</a>
				<a href="/account/login" class="header-toolbar-btn userPageBtn">
					<i class="ico ico-user"></i>
				</a>
			</div>
		</div>
	</header>
	<!-- header end -->
	
	<!-- nav begin -->
	<nav class="nav">
		<ul class="nav-wrap">
			<li >
				<a href="/">
					<span>首页</span>
				</a>
			</li>
			<li >
				<a href="/allGoods">
					<span>全部商品</span>
				</a>
			</li>
			<li class="active">
				<a href="/user">
					<span>个人中心</span>
				</a>
			</li>
		</ul>
	</nav>
	<!-- nav end -->

	<!-- user-info -->
	<div class="user-info">
		<div class="user-name">
			
			<span class="info-item">
				{{#if( sName==="1" )}}
				<a href="/account/login">登录</a>/<a href="/account/register">注册</a>
				{{else}}
				<a href="javascript:;">{{sName}}</a>
				{{/if}}	
			</span>
		</div>
		<div class="wait-play">
			<a href="#">
				<p>0</p>
				<p>待付款</p>
			</a>
			<a href="#">
				<p>0</p>
				<p>待确认收货</p>
			</a>
		</div>
		<ul class="toolbar-list">
			<li>
				<a href="/orderlist">
					<img src="images/ico-toolbar.png">
					<span>我的订单</span>
					<span class="arrow fr">&gt;</span>
				</a>
			</li>
			<li>
				<a href="/shopCar">
					<img src="images/ico-toolbar.png">
					<span>我的购物车</span>
					<span class="arrow fr">&gt;</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/ico-toolbar.png">
					<span>我的投诉</span>
					<span class="arrow fr">&gt;</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- user-info -->

	<!-- footer begin -->
	<footer class="footer">
		<p>时尚·美味·健康</p>
		<p>一条介于平凡与不平凡之间的蛋糕街</p>
	</footer>
	<!-- footer end -->

	<!-- shopCar begin -->
	<a href="#" class="shopCar">
		<i class="ico ico-shopCar"></i>
	</a>
	<!-- shopCar end -->
</body>
</html>
<script type="text/javascript">
	window.onload = function(){
		var sname = '{{sName}}';
		if(sname && != '1'){
			var userBtn = document.querySelector('.userPageBtn');
			userBtn.innerHTML = '<i class="userInfo">'+sname+'</i>';
		}
	}
</script>
