.checkbox{
	width: 1.111111rem;
	height: 1.111111rem;
	background: url('../images/c_checkbox_off.png') no-repeat;
	background-size: 1.111111rem 1.111111rem;
	padding-right: 1.666667rem;
}

.checkbox[checked='true']{
	background-image: url('../images/c_checkbox_on.png');
	
}

/* cart-list begin */
.cart-list{
	margin: 0.555556rem 0;

}

.cart-item{
	height: 5.555556rem;
	padding: 0.555556rem 0.555556rem;
	margin-bottom: 0.555556rem;
	background: #fff;
}

.cart-item .checkbox{
	display: table-cell;
	vertical-align: middle;
	float: left;
	margin-top: 1.222222rem;
}

.cart-item img{
	width: 4.444444rem;
	height: 4.444444rem;
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.555556rem;
	float: left;
}

.cart-item .good-info{
	vertical-align: middle;
	overflow: hidden;
	margin-left: 0.555556rem;
	
	position: relative;
	
}

.cart-item .good-info p{
	font-size: 0.777778rem;
	height: 2.222222rem;
}

.cart-item .good-info p:nth-child(2){
	font-size: 1.333333rem;
	color: #f00;
	line-height: 2.222222rem;
}

.cart-item .good-info .delBtn{
	width: 30px;
	height: 32px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url('../images/c_del.png') no-repeat;
}
/* cart-list end */


/* footer begin */
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 4.444444rem;
	width: 100%;
	box-shadow: 0px -1px 1px 1px #ccc;
	padding: 0;
}

.footer-wrap{
	height: 100%;
}

.footer-wrap div{
	width: 33.33%;
	float: left;
	height: 100%;
}


.footer-wrap .footer-l{
	text-align: center;
	display: table;
	height: 100%;
	
}

.footer-wrap .footer-l-cont{
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.footer-wrap .footer-l span{
	font-size: 1.333333rem;
    
}

.footer-wrap .footer-l input{
	
}


.footer-wrap .footer-m p{
	font-size: 1.0rem;
	vertical-align: bottom;
	line-height: 2.222222rem;
	padding: 0;
	text-align: right;
	
}

.footer-wrap .footer-m p:nth-child(2){
	font-size: 1.111111rem;
	color: #f00;
}

.footer-wrap .footer-r{

	display: table;
	
}

.footer-r .footer-r-cont{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    
}

.footer-r .footer-r-cont input{
	width: 80%;
	height: 80%;
	border-radius: 5px;
	font-size: 1.555556rem;
	color: #fff;
	background: #f00;
	
    
}
/* footer end */